@font-face {
  font-family: Poppins-Bold;
  src: url(/fonts/Poppins-Bold.ttf);
}

@font-face {
  font-family: Poppins-Regular;
  src: url(/fonts/Poppins-Regular.ttf);
}

@font-face {
  font-family: Poppins-Medium;
  src: url(/fonts/Poppins-Medium.ttf);
}

.heading {
  font-family: 'Poppins-Bold', sans-serif;
  font-size: 50px;
}

@media screen and (max-width: 900px) {
  .heading {
    font-size: 35px !important;
  }
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  -webkit-transition: 2s ease-in-out;
  transition: 2s ease-in-out;
}

.box-shadow {
  box-shadow: -1px 4px 16px 0px rgba(0, 0, 0, 0.51);
  -webkit-box-shadow: -1px 4px 16px 0px rgba(0, 0, 0, 0.51);
  -moz-box-shadow: -1px 4px 16px 0px rgba(0, 0, 0, 0.51);
  background: -webkit-gradient(linear, left top, right top, from(#2F80ED), to(#56CCF2)) !important;
  background: linear-gradient(to right, #2F80ED, #56CCF2) !important;
}

.fa-code {
  color: #56CCF2;
}

.cv {
  position: fixed;
  font-family: 'Poppins-Bold';
  bottom: 20px;
  right: 25px;
  z-index: 3;
  width: 100px;
  background: -webkit-gradient(linear, left top, right top, from(#000000), to(#434343));
  background: linear-gradient(to right, #000000, #434343);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  text-align: center;
  border-radius: 40px;
  box-shadow: -1px 4px 16px 0px rgba(0, 0, 0, 0.51);
  -webkit-box-shadow: -1px 4px 16px 0px rgba(0, 0, 0, 0.51);
  -moz-box-shadow: -1px 4px 16px 0px rgba(0, 0, 0, 0.51);
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
}

.cv a {
  color: white;
  text-decoration: none;
  width: 100%;
  height: 100%;
}

.cv:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.main-container {
  background-color: #F5F5F5;
  height: 100vh;
}

.main-container .heading {
  border-bottom: 5px solid #56CCF2;
  border-radius: 5px;
}

.main-container .navbar {
  float: left;
  width: 100vw;
  background-color: transparent;
  text-align: center;
  padding-top: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: fixed;
  z-index: 2;
  -webkit-transition: 0.25s ease-in-out;
  transition: 0.25s ease-in-out;
  background-color: rgba(0, 0, 0, 0.15);
}

.main-container .navbar .burger {
  margin-top: 10px;
  display: none;
  margin-right: 5vw;
}

.main-container .navbar .burger .burger-line {
  height: 4px;
  background-color: white;
  width: 30px;
  margin-bottom: 5px;
  border-radius: 10px;
}

.main-container .navbar .nav-header {
  font-family: 'Poppins-Bold', sans-serif;
  font-size: 35px;
  color: white;
  margin-left: 10vw;
}

.main-container .navbar .nav-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: 5vw;
}

@media screen and (max-width: 900px) {
  .main-container .navbar .nav-links {
    display: none;
  }
  .main-container .navbar .burger {
    display: block;
  }
}

.main-container .navbar a {
  text-decoration: none;
  padding-right: 10px;
  padding-left: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin: 5px;
  font-family: 'Poppins-Medium', sans-serif;
  font-size: 20px;
  color: white;
  border-radius: 30px;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  width: 100px;
}

.main-container .navbar a p {
  margin: 0;
}

.main-container .navbar a:hover {
  color: #56CCF2;
}

@media screen and (max-width: 900px) {
  .main-container .front-banner {
    background-attachment: scroll !important;
    -webkit-box-pack: start !important;
        -ms-flex-pack: start !important;
            justify-content: flex-start !important;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
  }
  .main-container .front-banner .greeting {
    font-size: 40px !important;
  }
  .main-container .front-banner img {
    width: 150px !important;
  }
}

.main-container .front-banner {
  background: #56CCF2;
  /* fallback for old browsers */
  /* Chrome 10-25, Safari 5.1-6 */
  background: -webkit-gradient(linear, left top, right top, from(#2F80ED), to(#56CCF2));
  background: linear-gradient(to right, #2F80ED, #56CCF2);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  width: 90vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 5vw;
  padding-right: 5vw;
  padding-top: 100px;
  padding-bottom: 50px;
  min-height: 50vh !important;
}

.main-container .front-banner .profile-image {
  opacity: 0;
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
  -webkit-transform: translateY(30px);
          transform: translateY(30px);
}

.main-container .front-banner img {
  border-radius: 20%;
  width: 200px;
  margin-top: 50px;
  box-shadow: -1px 4px 16px 0px rgba(0, 0, 0, 0.51);
  -webkit-box-shadow: -1px 4px 16px 0px rgba(0, 0, 0, 0.51);
  -moz-box-shadow: -1px 4px 16px 0px rgba(0, 0, 0, 0.51);
}

.main-container .front-banner .greeting {
  font-family: 'Poppins-Bold', sans-serif;
  font-size: 60px;
  margin: 0;
  margin-bottom: 50px;
  opacity: 0;
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
  -webkit-transform: translateY(30px);
          transform: translateY(30px);
}

.main-container .front-banner .greeting span {
  color: #ffffff;
}

.main-container .front-banner .details {
  max-width: 600px;
  font-family: 'Poppins-Medium', sans-serif;
  font-size: 16px;
  opacity: 0;
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
  -webkit-transform: translateY(30px);
          transform: translateY(30px);
}

@media screen and (max-width: 900px) {
  .main-container .front-banner .details {
    font-size: 14px !important;
  }
}

.main-container .front-banner .details a {
  text-decoration: none;
}

.main-container .front-banner .details .university-name {
  text-decoration: none;
  color: #ffffff;
}

.main-container .front-banner .links {
  margin-top: 40px;
  opacity: 0;
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
  -webkit-transform: translateY(30px);
          transform: translateY(30px);
}

.main-container .front-banner .links a {
  color: white;
}

.main-container .front-banner .links a i {
  padding: 10px;
  font-size: 30px;
}

.main-container .front-banner .links i:hover {
  color: gray;
}

.main-container .about {
  background-color: #F5F5F5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (min-width: 1000px) {
  .main-container .about .cards-container {
    -ms-grid-columns: (1fr)[2] !important;
        grid-template-columns: repeat(2, 1fr) !important;
  }
}

.main-container .about .cards-container {
  margin: 0 auto;
  display: -ms-grid;
  display: grid;
  grid-gap: 2rem;
  margin-bottom: 100px;
}

.main-container .about .cards-container .skills-card {
  text-align: center;
  font-family: 'Poppins-Medium', sans-serif;
  background-color: white;
  color: black;
  border-radius: 20px;
  padding: 2rem;
  width: 400px;
  max-width: calc(95vw - 4rem);
  background: #F5F5F5;
  -webkit-box-shadow: 20px 20px 60px #d0d0d0, -20px -20px 60px #ffffff;
          box-shadow: 20px 20px 60px #d0d0d0, -20px -20px 60px #ffffff;
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
  opacity: 0;
}

@media screen and (max-width: 900px) {
  .main-container .about .cards-container .skills-card {
    font-size: 14px !important;
  }
}

.main-container .about .cards-container .skills-card div {
  margin-top: 10px;
}

.main-container .about .cards-container .skills-card div .degrees {
  color: #56CCF2;
}

.main-container .about .cards-container .skills-card div .title {
  font-family: 'Poppins-Bold', sans-serif;
  font-size: 25px;
}

@media screen and (max-width: 900px) {
  .main-container .about .cards-container .skills-card div .title {
    font-size: 20px !important;
  }
}

.main-container .about .cards-container .skills-card div .title .frameworks {
  color: #56CCF2;
}

.main-container .about .cards-container .skills-card div .frameworks {
  color: #56CCF2;
}

.main-container .about .cards-container .skills-card div i {
  padding: 10px;
}

.main-container .projects {
  background-color: #F5F5F5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (min-width: 900px) {
  .main-container .projects .project-container {
    -ms-grid-columns: (1fr)[2] !important;
        grid-template-columns: repeat(2, 1fr) !important;
  }
}

@media screen and (min-width: 1300px) {
  .main-container .projects .project-container {
    -ms-grid-columns: (1fr)[3] !important;
        grid-template-columns: repeat(3, 1fr) !important;
  }
}

.main-container .projects .project-container {
  margin: 0 auto;
  display: -ms-grid;
  display: grid;
  grid-gap: 2rem;
  margin-bottom: 100px;
}

.main-container .projects .project-item {
  position: relative;
  background-color: white;
  width: 350px;
  height: 300px;
  border-radius: 20px;
  padding: 2rem;
  font-family: 'Poppins-Regular', sans-serif;
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
  max-width: calc(95vw - 4rem);
  background: #F5F5F5;
  -webkit-box-shadow: 20px 20px 60px #d0d0d0, -20px -20px 60px #ffffff;
          box-shadow: 20px 20px 60px #d0d0d0, -20px -20px 60px #ffffff;
  opacity: 0;
  -webkit-transition: 1s ease-in-out;
  transition: 1s ease-in-out;
  -webkit-transform: translateY(-30);
          transform: translateY(-30);
}

@media screen and (max-width: 900px) {
  .main-container .projects .project-item {
    height: 250px !important;
  }
}

.main-container .projects .project-item .info {
  color: gray;
}

@media screen and (max-width: 900px) {
  .main-container .projects .project-item .info {
    font-size: 14px;
  }
}

.main-container .projects .project-item .project-item-header {
  font-family: 'Poppins-Bold', sans-serif;
  font-size: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-bottom: 0;
  text-decoration: none;
}

@media screen and (max-width: 900px) {
  .main-container .projects .project-item .project-item-header {
    font-size: 18px;
  }
}

.main-container .projects .project-item .project-item-header .icons a {
  text-decoration: none;
}

.main-container .projects .project-item .project-item-header .icons i {
  margin-right: 10px;
  color: black;
}

.main-container .projects .project-item .project-item-header .icons i:hover {
  color: #56CCF2;
}

.main-container .projects .project-item .project-item-header p {
  margin-top: 0 !important;
}

.main-container .projects .project-item .technologies {
  font-family: 'Poppins-Medium', sans-serif;
  position: absolute;
  bottom: 1rem;
  left: 1rem;
}

.main-container .projects .project-item .technologies i {
  color: #56CCF2;
  margin-left: 1rem;
}

.main-container .projects .project-item:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.main-container .projects .more-button {
  background: -webkit-gradient(linear, left top, right top, from(#2F80ED), to(#56CCF2));
  background: linear-gradient(to right, #2F80ED, #56CCF2);
  text-align: center;
  margin-bottom: 100px;
  border-radius: 40px;
  -webkit-box-shadow: 20px 20px 60px #bebebe, -20px -20px 60px #ffffff;
          box-shadow: 20px 20px 60px #bebebe, -20px -20px 60px #ffffff;
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
}

.main-container .projects .more-button p {
  color: white;
  font-family: 'Poppins-Bold', cursive;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 5px;
  padding-bottom: 5px;
}

.main-container .projects .more-button:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
  cursor: pointer;
}

.main-container .contact {
  background-color: #F5F5F5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main-container .contact .heading {
  font-family: 'Poppins-Bold', sans-serif;
  font-size: 50px;
  margin: 0;
  margin-bottom: 50px;
}

.main-container .contact .main-form {
  opacity: 0;
  -webkit-transform: translateY(-30);
          transform: translateY(-30);
  -webkit-transition: 1s ease-in-out;
  transition: 1s ease-in-out;
}

.main-container .contact form {
  margin-bottom: 75px;
}

.main-container .contact form label {
  font-family: 'Poppins-Bold', sans-serif;
  margin-top: 20px;
  font-size: 25px;
}

.main-container .contact form input {
  font-family: 'Poppins-Bold', sans-serif;
  width: 1000px;
  max-width: 50vw;
  height: 10px;
  margin-top: 15px;
  margin-bottom: 15px;
  border: none;
  border-radius: 5px;
  padding: 20px;
  font-size: 16px;
  background: #ffffff;
  -webkit-box-shadow: 20px 20px 60px #d0d0d0, -20px -20px 60px #ffffff;
          box-shadow: 20px 20px 60px #d0d0d0, -20px -20px 60px #ffffff;
}

@media screen and (max-width: 900px) {
  .main-container .contact form input {
    max-width: 85vw !important;
    font-size: 14px !important;
    height: 7px !important;
  }
}

@media screen and (min-width: 1300px) {
  .main-container .contact form input {
    max-width: 50vw !important;
  }
}

.main-container .contact form textarea {
  font-family: 'Poppins-Bold', sans-serif;
  width: 1000px;
  max-width: 50vw;
  resize: none;
  height: 400px;
  max-height: 400px;
  margin-top: 20px;
  border: none;
  border-radius: 5px;
  padding: 20px;
  font-size: 16px;
  background: #FFFFFF !important;
  -webkit-box-shadow: 20px 20px 60px #d0d0d0, -20px -20px 60px #ffffff;
          box-shadow: 20px 20px 60px #d0d0d0, -20px -20px 60px #ffffff;
}

@media screen and (max-width: 900px) {
  .main-container .contact form textarea {
    max-width: 85vw !important;
    font-size: 14px !important;
    height: 300px !important;
  }
}

@media screen and (min-width: 1300px) {
  .main-container .contact form textarea {
    max-width: 50vw !important;
  }
}

.main-container .contact .submit-button {
  background: -webkit-gradient(linear, left top, right top, from(#2F80ED), to(#56CCF2));
  background: linear-gradient(to right, #2F80ED, #56CCF2);
  text-align: center;
  margin-bottom: 100px;
  border-radius: 50px;
  -webkit-box-shadow: 20px 20px 60px #d0d0d0, -20px -20px 60px #ffffff;
          box-shadow: 20px 20px 60px #d0d0d0, -20px -20px 60px #ffffff;
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
}

.main-container .contact .submit-button p {
  font-family: 'Poppins-Bold', sans-serif;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 5px;
  padding-bottom: 5px;
  width: 100px;
  color: white;
}

.main-container .contact .submit-button:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
  cursor: pointer;
}

.main-container .footer {
  text-align: center;
  padding-top: 25px;
  height: 125px;
}

.main-container .footer p {
  font-family: 'Poppins-Regular', sans-serif;
}

.main-container .footer .commit-count a i {
  color: black;
}
/*# sourceMappingURL=main.css.map */