@font-face {
    font-family: Poppins-Bold;
    src: url(/fonts/Poppins-Bold.ttf);
}

@font-face {
    font-family: Poppins-Regular;
    src: url(/fonts/Poppins-Regular.ttf);
}


@font-face {
    font-family: Poppins-Medium;
    src: url(/fonts/Poppins-Medium.ttf);
}


.heading {
    font-family: 'Poppins-Bold', sans-serif;
    font-size: 50px;

    @media screen and (max-width: 900px) {
        font-size: 35px !important;
    }
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    transition: 2s ease-in-out;
}

.box-shadow {
    box-shadow: -1px 4px 16px 0px rgba(0,0,0,0.51);
    -webkit-box-shadow: -1px 4px 16px 0px rgba(0,0,0,0.51);
    -moz-box-shadow: -1px 4px 16px 0px rgba(0,0,0,0.51);
    background-color: rgba(0, 0, 0, 0.90) !important;
}

.fa-code {
    color: #00c6ff;
}

.cv {
    position: fixed;
    font-family: 'Poppins-Bold';
    bottom: 20px;
    right: 25px;
    z-index: 3;
    width: 100px;
    background-color: black;
    text-align: center;
    border-radius: 40px;
    box-shadow: -1px 4px 16px 0px rgba(0,0,0,0.51);
    -webkit-box-shadow: -1px 4px 16px 0px rgba(0,0,0,0.51);
    -moz-box-shadow: -1px 4px 16px 0px rgba(0,0,0,0.51);

    a {
        color: white;
        text-decoration: none;
        width: 100%;
        height: 100%;
    }
}

.cv:hover {
    transform: scale(1.05);

    a {
        color: #00c6ff;
    }
}

.main-container {
    background-color: #F5F5F5;
    height: 100vh; 

    .heading {
        border-bottom: 5px solid #1e849e;
        border-radius: 5px;
    }
    
    .navbar {
        float: left;
        width: 100vw;
        background-color: transparent;
        text-align: center;
        padding-top: 10px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        flex-direction: row;
        justify-content: space-between;
        position: fixed;
        z-index: 2;
        transition: 0.25s ease-in-out;
        background-color: rgba(0, 0, 0, 0.15);

        .burger {

            margin-top: 10px;
            display: none;

            .burger-line {
                height: 4px;
                background-color: white;
                width: 50px;
                margin-bottom: 5px;
                border-radius: 10px;
            }

            margin-right: 5vw;
        }

        .nav-header {
            font-family: 'Poppins-Bold', sans-serif;
            font-size: 35px;
            color: white;
            margin-left: 10vw;
        }

        .nav-links {
            display: flex;
            margin-right: 5vw;
        }


        @media screen and (max-width: 900px) {
            .nav-links {
                display: none;
            } 
            .burger {
                display: block;
            }

        }

        a {
            text-decoration: none;
            padding-right: 10px;
            padding-left: 10px;
            padding-top: 10px;
            padding-bottom: 10px;
            margin: 5px;
            font-family: 'Poppins-Medium', sans-serif;
            font-size: 20px;
            color: white;
            border-radius: 30px;
            height: fit-content;
            width: 100px;

            p {
                margin: 0;
            }
        }

        a:hover {
            color: #00c6ff;
        }
    }

    @media screen and (max-width: 900px) {
        .front-banner { 
            background-attachment: scroll !important;
            justify-content: flex-start !important;

            .greeting {
                font-size: 40px !important;
            }

            img {
                width: 150px !important;
            }

            height: fit-content;
        }  
        
    }

    .front-banner {
        background: #2193b0;  /* fallback for old browsers */
        background: -webkit-linear-gradient(to right, #6dd5ed, #2193b0);  /* Chrome 10-25, Safari 5.1-6 */
        background: linear-gradient(to right, #6dd5ed, #2193b0); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        background-size: cover;
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        width: 90vw;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        padding-left: 5vw;
        padding-right: 5vw;
        padding-top: 100px;
        padding-bottom: 50px;
        min-height: 0 !important;

        .profile-image {
            opacity: 0;
            transition: 0.5s ease-in-out;
            transform: translateY(30px);
        }
       
        
        img {
            border-radius: 20%;
            width: 200px;
            margin-top: 50px;
            box-shadow: -1px 4px 16px 0px rgba(0,0,0,0.51);
            -webkit-box-shadow: -1px 4px 16px 0px rgba(0,0,0,0.51);
            -moz-box-shadow: -1px 4px 16px 0px rgba(0,0,0,0.51);
        }

        .greeting {
            font-family: 'Poppins-Bold', sans-serif;
            font-size: 60px;
            margin: 0;
            margin-bottom: 50px;
            opacity: 0;
            transition: 0.5s ease-in-out;
            transform: translateY(30px);

            span {
                color:#ffffff;
            }
        }

        .details {
            max-width: 600px;
            font-family: 'Poppins-Medium', sans-serif;
            font-size: 16px;
            @media screen and (max-width: 900px) {
                font-size: 14px !important;
            }
            opacity: 0;
            transition: 0.5s ease-in-out;
            transform: translateY(30px);

            a {
                text-decoration: none;
            }

            .university-name {
                text-decoration: none;
                color:#ffffff;
            }
        }

        .links {
            margin-top: 40px;
            opacity: 0;
            transition: 0.5s ease-in-out;
            transform: translateY(30px);

            a {
                color: white;
                
                i {
                    padding: 10px;
                    font-size: 30px;
                }
            }
            
            i:hover {
                color: gray;
            }
        }
    }

    .about {
        background-color: #F5F5F5;
        display: flex;
        flex-direction: column;
        align-items: center;


        @media screen and (min-width: 1000px) {
            .cards-container { grid-template-columns: repeat(2, 1fr) !important; }
        }

        .cards-container {
            margin: 0 auto;
            display: grid;
            grid-gap: 2rem;
            margin-bottom: 100px;

            .skills-card {
                text-align: center;
                font-family: 'Poppins-Medium', sans-serif;
                background-color: white;
                color: black;
                border-radius: 20px;
                padding: 2rem;
                width: 400px;
                max-width: calc(95vw - 4rem);
                background: #F5F5F5;
                box-shadow:  20px 20px 60px #d0d0d0,
                            -20px -20px 60px #ffffff;
                transition: 0.5s ease-in-out;
                opacity: 0;

                @media screen and (max-width: 900px) {
                    font-size: 14px !important;
                }

                div {
                     margin-top: 10px;

                    .degrees {
                        color: #00c6ff;
                    }

                     .title {
                         font-family: 'Poppins-Bold', sans-serif;
                         font-size: 25px;

                         @media screen and (max-width: 900px) {
                            font-size: 20px !important;
                        }

                         .frameworks {
                             color: #00c6ff;
                         }
                     }

                    .frameworks {
                        color: #00c6ff;
                    }

                     i {
                         padding: 10px;
                     }
                }
            }
    
        }
    }

    .projects {
        background-color: #F5F5F5;
        display: flex;
        flex-direction: column;
        align-items: center;

        @media screen and (min-width: 900px) {
            .project-container { grid-template-columns: repeat(2, 1fr) !important; }
        }
        
        @media screen and (min-width: 1300px) {
            .project-container { grid-template-columns: repeat(3, 1fr) !important; }
        }

        .project-container {
            margin: 0 auto;
            display: grid;
            grid-gap: 2rem;
            margin-bottom: 100px;
        }

        .project-item {
            position: relative;
            background-color: white;
            width: 350px;
            height: 300px;
            border-radius: 20px;
            padding: 2rem;
            font-family: 'Poppins-Regular', sans-serif;
            transition: 0.5s ease-in-out;
            max-width: calc(95vw - 4rem);
            background: #F5F5F5;
            box-shadow:  20px 20px 60px #d0d0d0,
                            -20px -20px 60px #ffffff;
            opacity: 0;
            transition: 1s ease-in-out;
            transform: translateY(-30);

            @media screen and (max-width: 900px) {
                height: 250px !important;
            }

            .info {
                color: gray;
                @media screen and (max-width: 900px) {
                    font-size: 14px;
                }
            }

            .project-item-header {
                font-family: 'Poppins-Bold', sans-serif;
                font-size: 20px;
                @media screen and (max-width: 900px) {
                    font-size: 18px;
                }
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                padding-bottom: 0;
                text-decoration: none;

                .icons {

                    a {
                        text-decoration: none;
                    }

                    i {
                        margin-right: 10px;
                        color: black;
                    }

                    i:hover {
                        color: #00c6ff;
                    }
                }

                p {
                    margin-top: 0 !important;
                }
            }

            .technologies {
                font-family: 'Poppins-Medium', sans-serif;
                position: absolute;
                bottom: 1rem;
                left: 1rem;

                i {
                    color: #00c6ff;
                    margin-left: 1rem;
                }
            }

        }

        .project-item:hover {
            transform: scale(1.05);
        }


        .more-button {
            background: linear-gradient(145deg, #239dbc, #1e849e);
            text-align: center;
            margin-bottom: 100px;
            border-radius: 40px;
            box-shadow:  20px 20px 60px #bebebe, -20px -20px 60px #ffffff;

            p {
                color: white;
                font-family: 'Poppins-Bold', cursive;
                padding-left: 30px;
                padding-right: 30px;
                padding-top: 5px;
                padding-bottom: 5px;
            }
        }

        .more-button:hover {
            border-color: #00c6ff;
            cursor: pointer;

            p {
                color: #00c6ff;
            }

        }
    }

    .contact {
        background-color: #F5F5F5;
        display: flex;
        flex-direction: column;
        align-items: center;

        .heading {
            font-family: 'Poppins-Bold', sans-serif;
            font-size: 50px;
            margin: 0;
            margin-bottom: 50px;
        }

        .main-form {
            opacity: 0;
            transform: translateY(-30);
            transition: 1s ease-in-out;
        }

        form {
            margin-bottom: 75px;
            
            label {
                font-family: 'Poppins-Bold', sans-serif;
                margin-top: 20px;
                font-size: 25px;
            }

            input {
                font-family: 'Poppins-Bold', sans-serif;
                width: 1000px;
                max-width: 50vw;
                @media screen and (max-width: 900px) {
                    max-width: 85vw !important;
                    font-size: 14px !important;
                    height: 7px !important;
                }
                @media screen and (min-width: 1300px) {
                    max-width: 50vw !important;
                }
                height: 10px;
                margin-top: 15px;
                margin-bottom: 15px;
                border: none;
                border-radius: 5px;
                padding: 20px;
                font-size: 16px;
                background: #ffffff;
                box-shadow:  20px 20px 60px #d0d0d0,
                            -20px -20px 60px #ffffff;
            }

            textarea {
                font-family: 'Poppins-Bold', sans-serif;
                width: 1000px;
                max-width: 50vw;
                @media screen and (max-width: 900px) {
                    max-width: 85vw !important;
                    font-size: 14px !important;
                    height: 300px !important;
                }
                @media screen and (min-width: 1300px) {
                    max-width: 50vw !important;
                }
                resize: none;
                height: 400px;
                max-height: 400px;
                margin-top: 20px;
                border: none;
                border-radius: 5px;
                padding: 20px;
                font-size: 16px;
                background: #FFFFFF !important;
                box-shadow:  20px 20px 60px #d0d0d0,
                            -20px -20px 60px #ffffff;

            }
        }

        .submit-button {
            background: linear-gradient(145deg, #239dbc, #1e849e);
            text-align: center;
            margin-bottom: 100px;
            border-radius: 50px;
            box-shadow:  20px 20px 60px #d0d0d0,
                        -20px -20px 60px #ffffff;

            p {
                font-family: 'Poppins-Bold', sans-serif;
                padding-left: 30px;
                padding-right: 30px;
                padding-top: 5px;
                padding-bottom: 5px;
                width: 100px;
                color: white;
            }
        }

        .submit-button:hover {
            border-color: #00c6ff;
            cursor: pointer;

            p {
                color: #00c6ff;
            }

        }
    }

    .footer {
        text-align: center;
        padding-top: 25px;
        height: 125px;

        p {
            font-family: 'Poppins-Regular', sans-serif;
        }

        .commit-count {
            a {
                i {
                    color: black;
                }
            }
        }
    }

}

