html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    transition: 1s ease-in-out;
}

.box-shadow {
    box-shadow: -1px 4px 16px 0px rgba(0,0,0,0.51);
    -webkit-box-shadow: -1px 4px 16px 0px rgba(0,0,0,0.51);
    -moz-box-shadow: -1px 4px 16px 0px rgba(0,0,0,0.51);
    background-color: white !important;
}

.fa-code {
    color: #5bc0de;
}

.cv {
    position: fixed;
    font-family: 'Oswald', sans-serif;
    bottom: 20px;
    right: 25px;
    z-index: 3;
    width: 100px;
    background-color: black;
    text-align: center;
    border-radius: 10px;
    box-shadow: -1px 4px 16px 0px rgba(0,0,0,0.51);
    -webkit-box-shadow: -1px 4px 16px 0px rgba(0,0,0,0.51);
    -moz-box-shadow: -1px 4px 16px 0px rgba(0,0,0,0.51);

    a {
        color: white;
        text-decoration: none;
        width: 100%;
        height: 100%;
    }
}

.cv:hover {
    transform: scale(1.05);

    a {
        color: #5bc0de;
    }
}

.main-container {
    background-color: #F5F5F5;
    height: 100vh; 
    
    .navbar {
        float: left;
        width: 100vw;
        background-color: transparent;
        text-align: center;
        padding-top: 10px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        position: fixed;
        z-index: 2;
        transition: 0.25s ease-in-out;

        a {
            text-decoration: none;
            padding: 5px;
            margin-left: 2.5px;
            margin-right: 2.5px;
            font-family: 'Oswald', sans-serif;
            font-size: 20px;
            color: black;
        }

        a:hover {
            color: #5bc0de;
        }
    }

    @media screen and (max-width: 900px) {
        .front-banner { 
            

            .greeting {
                font-size: 40px !important;
            }

            img {
                width: 150px !important;
            }
        }     
    }

    .front-banner {
        background-image: url('../assets/background.jpg');
        background-size: cover;
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        height: 72.5vh;
        width: 90vw;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-left: 5vw;
        padding-right: 5vw;
        padding-top: 100px !important;
        height: fit-content !important;
        padding-bottom: 50px;
        
        img {
            border-radius: 50%;
            width: 200px;
            margin-top: 50px;
            box-shadow: -1px 4px 16px 0px rgba(0,0,0,0.51);
            -webkit-box-shadow: -1px 4px 16px 0px rgba(0,0,0,0.51);
            -moz-box-shadow: -1px 4px 16px 0px rgba(0,0,0,0.51);
        }

        .greeting {
            font-family: 'Patua One', cursive;
            font-size: 60px;
            margin: 0;
            margin-bottom: 50px;

            span {
                color:white;
            }
        }

        .details {
            max-width: 600px;
            font-family: 'Oswald', sans-serif;
            font-size: 16px;

            a {
                text-decoration: none;
            }

            .university-name {
                text-decoration: none;
                color:white;
            }
        }

        .links {
            margin-top: 25px;
            
            a {
                color: black;
                i {
                    padding: 7.5px;
                    font-size: 25px;
                }
            }
            
            i:hover {
                color: gray;
            }
        }
    }

    .about {
        background-color: #F5F5F5;
        display: flex;
        flex-direction: column;
        align-items: center;

        .heading {
            font-family: 'Patua One', cursive;
            font-size: 50px;
            margin: 0;
            margin-bottom: 50px;
            margin-top: 50px;
        }

        @media screen and (min-width: 1000px) {
            .cards-container { grid-template-columns: repeat(2, 1fr) !important; }
        }

        .cards-container {
            margin: 0 auto;
            display: grid;
            grid-gap: 2rem;
            margin-bottom: 100px;

            .skills-card {
                text-align: center;
                font-family: 'Oswald', sans-serif;
                background-color: white;
                color: black;
                border-radius: 10px;
                padding: 2rem;
                width: 400px;
                max-width: calc(95vw - 4rem);

                div {
                     margin-top: 10px;

                     .title {
                         font-size: 25px;

                         .frameworks {
                             color: #5bc0de;
                         }
                     }

                    .frameworks {
                        color: #5bc0de;
                    }

                     i {
                         padding: 10px;
                     }
                }
            }
    
            .education-card {
                text-align: center;
                font-family: 'Oswald', sans-serif;
                background-color: white;
                color: black;
                border-radius: 10px;
                padding: 2rem;
                width: 400px;
                max-width: calc(95vw - 4rem);
    
                div {
                    
                    .title {
                        font-size: 25px;
                    }

                    .degrees {
                        color: #5bc0de;
                    }

                    margin-top: 10px;
               }
            }
        }
    }

    .projects {
        background-color: #F5F5F5;
        display: flex;
        flex-direction: column;
        align-items: center;

        @media screen and (min-width: 900px) {
            .project-container { grid-template-columns: repeat(2, 1fr) !important; }
        }
        
        @media screen and (min-width: 1300px) {
            .project-container { grid-template-columns: repeat(3, 1fr) !important; }
        }

        .project-container {
            margin: 0 auto;
            display: grid;
            grid-gap: 2rem;
            margin-bottom: 100px;
        }

        .project-item {
            position: relative;
            background-color: white;
            width: 350px;
            height: 300px;
            border-radius: 5px;
            padding: 1.5rem;
            font-family: 'Oswald', sans-serif;
            transition: 0.5s ease-in-out;
            max-width: calc(95vw - 4rem);


            .project-item-header {
                font-family: 'Patua One', cursive;
                font-size: 20px;
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                padding-bottom: 0;
                text-decoration: none;

                .icons {

                    a {
                        text-decoration: none;
                    }

                    i {
                        margin-right: 10px;
                        color: black;
                    }

                    i:hover {
                        color: #5bc0de;
                    }
                }

                p {
                    margin-top: 0 !important;
                }
            }

            .technologies {
                font-family: 'Oswald', sans-serif;
                position: absolute;
                bottom: 1rem;
                left: 0.54rem;

                i {
                    color: #5bc0de;
                    margin-left: 1rem;
                }
            }

        }

        .project-item:hover {
            transform: scale(1.05);
        }

        .heading {
            font-family: 'Patua One', cursive;
            font-size: 50px;
        }

        .more-button {
            border: 2.5px solid black;
            text-align: center;
            margin-bottom: 100px;
            border-radius: 5px;

            p {
                font-family: 'Patua One', cursive;
                padding-left: 20px;
                padding-right: 20px;
            }
        }

        .more-button:hover {
            border-color: #5bc0de;
            cursor: pointer;

            p {
                color: #5bc0de;
            }

        }
    }

    .contact {
        background-color: #F5F5F5;
        display: flex;
        flex-direction: column;
        align-items: center;

        .heading {
            font-family: 'Patua One', cursive;
            font-size: 50px;
            margin: 0;
            margin-bottom: 50px;
        }

        form {
            margin-bottom: 75px;
            

            label {
                font-family: 'Oswald', sans-serif;
                margin-top: 20px;
                font-size: 25px;
            }

            input {
                font-family: 'Oswald', sans-serif;
                width: 1000px;
                max-width: 85vw;
                height: 10px;
                margin-top: 15px;
                margin-bottom: 15px;
                border: none;
                border-radius: 5px;
                padding: 20px;
                font-size: 16px;
            }

            textarea {
                font-family: 'Oswald', sans-serif;
                width: 1000px;
                max-width: 85vw;
                resize: none;
                height: 400px;
                max-height: 400px;
                margin-top: 20px;
                border: none;
                border-radius: 5px;
                padding: 20px;
                font-size: 16px;
            }
        }

        .submit-button {
            border: 2.5px solid black;
            text-align: center;
            margin-bottom: 100px;
            border-radius: 5px;

            p {
                font-family: 'Patua One', cursive;
                padding-left: 10px;
                padding-right: 10px;
                width: 100px;
            }
        }

        .submit-button:hover {
            border-color: #5bc0de;
            cursor: pointer;

            p {
                color: #5bc0de;
            }

        }
    }

    .footer {
        text-align: center;
        padding-top: 25px;
        height: 125px;

        p {
            font-family: 'Oswald', sans-serif;
        }

        .commit-count {
            a {
                i {
                    color: black;
                }
            }
        }
    }

}

